@font-face {
    font-family: "DecemberCelebrate";
    src: url(Fonts/DecemberCelebrate.otf);
}

@font-face {
    font-family: "Nokia";
    src: url(Fonts/nokiafc22.ttf);
}

body {
  background-image: url('Graphics/Background.png');
  background-attachment: fixed;
  background-size: contain;
}

.mainsvg{
    padding: 5rem 0rem;
}


*{
    font-family: "DecemberCelebrate";
    color: white;
    text-align: center;
}

.infotext{
    font-family: "DecemberCelebrate";
    font-size: 18px;
    text-align: center;
    color: white;
    line-height: 1.5rem;
}

.placeline{
    display: flex;
    align-items: center;
    justify-content: center;
}

h2 {
    letter-spacing: 0.05rem;
}

.phone-send-button {
    border: none;
    color: white;
    background: none;
    font-family: "Nokia";
}

.signup-container{
    width:400px;
    margin: auto;
    position: relative;
}

.signup-form{
    font-family: "Nokia";
    width: 190px;
    height: 200px;
    display: grid;
    border: 4px solid rgb(37, 37, 37);
    position: absolute;
    top: 81px;
    left: 95px;
    background-color: rgb(228, 234, 236);
    font-size: 11px;
}

.phone-header{
    font-family: "Nokia";
    text-align: center;
    padding: 4px 0px;
    background-color: rgb(45, 81, 147);
    height: 100%;
    color: white;
    font-size: 15px;
    border: 2px solid rgb(181, 198, 255)
    
}

.textrow{
    border: 1px solid rgb(35, 60, 124);
    display: flex;
    align-items: center;
    height: 27px;
    color:rgb(45, 45, 45);
    font-family: "Nokia";
}

.phone-formbox {
    font-family: "Nokia";
    font-size: 10px;
    color: black;
    width: 110px;
    height: 80%;
    text-align: right;
    position: relative;
    top: 2px;
    left: 28px;
    border-radius: 0px;
    border: none;
}

.phone-footer{
    text-align: right;
    padding: 4px 5px;
    background-color: rgb(45, 81, 147);
    height: 100%;
    color: white;
    font-size: 15px;
    border: 2px solid rgb(181, 198, 255)
}

.phone{
    width:400px;
}

.signup-button-container{
    margin: auto;
}

