.testy{
    color: blue;
    font-weight: bold;
}

.ghe {
    background-color: rgb(133, 219, 206);
}

.myheader {
    color: white;
    padding: .5rem;
    text-align: center;
}

.formbox {
    padding: .5rem;
    margin: .5rem;
}

.mainsvg{
    padding: 1rem 1rem;
}

.textboxleft{
    text-align: right;
    display: flex;
}

.textboxright{
    text-align: left;
    display: flex;
}